section.results {
	background-color:$white;
	min-height:calc(100vh - $nav-height);
	padding-bottom:10rem;

	div.wrapper {
		max-width:1600px;	
		margin:0 auto;
	}

	div.container {
		display:flex;
		flex-flow:row wrap;
		justify-content:flex-start;
		align-items:stretch;
		align-content:flex-start;
		padding:0 $padding-xs;
		gap:25px;

		div.card {
			display:flex;
			flex-flow: column nowrap;
			flex:1 0 30%;
			background-color:$truewhite;
			padding:$padding-r;
			border:1px solid $border;
			cursor:pointer;
			min-width:350px;
			@include hover;

			div.top {
				margin-bottom:1rem;
				width:100%;

				.speaker {
					@extend p;
					@extend .s;
					display:inline-block;
					position:relative;
					padding-left:calc(24px + 10px);
				}

				.speaker::before {
					@include icon('assets/pminchung.svg');
					@include vertical-center;
					height:$icon-s;
					width:$icon-s;
					left:0;
					cursor:pointer;
				}

				.date {
					float:right;
				}
			}

			div.middle {
				.title {
					margin-bottom:8px;
				}
			}

			div.bottom {
				display:flex;
				flex-direction:row;
				align-items:center;
				margin-top:1.5rem;
				position:relative;

				.time {
					@extend p;
					padding-left:calc(24px + 8px);
				}

				.time::before {
					@include icon('assets/icon-button-play.svg');
					@include vertical-center;
					height:$icon-s;
					width:$icon-s;
					left:0;
					cursor:pointer;
				}

				.plays {
					@extend p;
					@extend .xs;
					margin-left:8px;
				}
			}
		}

		div.card:nth-child(1){
			margin-left: 0;
		}

		div.card:hover {
			-webkit-box-shadow:0px 2px 9px 10px #E4E4E4; 
			box-shadow:0px 2px 9px 0px #E4E4E4;
		}
	}
}

// ------- Mobile -------

// @media only screen and (max-width:1148px) { // 2 columns 
// 	section.results div.container div.card {
// 		max-width:50%;
// 	}
// }

// @media only screen and (max-width:773px) { // small 
// 	section.results div.container div.card {
// 		max-width:100%;
// 	}
// }
