section.results {
	background-color:$white;
	min-height:calc(100vh - $nav-height);
	padding-bottom:10rem;

	div.container {
		display:flex;
		flex-flow:row wrap;
		justify-content:flex-start;
		align-items:stretch;
		align-content:flex-start;
		padding:0 $padding-l;
		gap:$padding-xs;

		div.card {
			display:flex;
			flex-flow: column nowrap;
			flex:1 0 30%;
			background-color:$truewhite;
			padding:$padding-r;
			border:1px solid $border;
			cursor:pointer;
			min-width:24.375rem; // 390px
			@include hover;

			div.top {
				margin-bottom:1rem;
				width:100%;

				.speaker {
					@extend p;
					@extend .s;
					display:inline-block;
					position:relative;
					padding-left:calc(24px + 10px);
				}

				.speaker::before {
					@include icon('assets/pminchung.svg');
					@include vertical-center;
					height:$icon-s;
					width:$icon-s;
					left:0;
					cursor:pointer;
				}

				.date {
					float:right;
				}
			}

			div.middle {
				flex-grow: 2;

				.title {
					margin-bottom:0.5rem;
				}
			}

			div.bottom {
				display:flex;
				flex-flow:row nowrap;
				align-items:flex-end;
				margin-top:1.5rem;
				position:relative;

				.left {
					display:flex;
					flex-flow:row nowrap;
					align-items:center;

					.time {
						@extend p;
						display:flex;
						align-items:center;
					}

					.time::before {
						@include icon('assets/icon-button-play.svg');	
						height:$icon-s;
						width:$icon-s;
						cursor:pointer;
						padding-right:8px;
					}

					.plays {
						@extend p;
						@extend .xs;
						display:flex;
						margin-left:0.5rem;
						flex:1 0 auto;
						align-items:center;
					}
				}

				.tags {
					display:flex;
					justify-content:flex-end;
					flex-flow: row wrap;
					flex:2 1 auto;
					gap:0.5rem;
					align-content:flex-end;

					.tag {
						@extend p;
						@extend .xs;
						background-color:$lightgrey;
						padding:3px 8px;
						border-radius:4px;
						display:inline-block;
						@include hover;
					}

					.tag:hover {
						background-color:$accent;
						color:$white;
					}
				}
			}
		}

		div.card:nth-child(1){
			margin-left: 0;
		}

		div.card:hover {
			-webkit-box-shadow:0px 2px 9px 10px #E4E4E4; 
			box-shadow:0px 2px 9px 0px #E4E4E4;
		}
	}
}

// ------- Mobile -------

@media only screen and (max-width:1000px) { // iPad
	section.results div.container {
		padding:0 $padding-s;
	}
}

@media only screen and (max-width:490px) { // mobile
	section.results div.container {
		justify-content:center;
		padding:0;
		gap:1rem;

		div.card {
			padding:$padding-xs;
			border-left:none;
			border-right:none;
		}
	}
}

@media only screen and (max-width:290px) { // x-small mobile 
	section.results div.container div.card {
		padding:1rem;
		min-width:250px;

		div.top {
			margin-bottom:0.5rem;

			div.date {
				float:none;
				margin-top:1rem;
			}
		}

		div.bottom {
			flex-flow: column nowrap;
			align-items:flex-start;
			gap:1rem;
			margin-top:1rem;
		}
	}
}
