/* ------- Contents -------

00  Reset
01  Colors
02  Typography
03  Spacing
04  Image
05  Nav
06  Nav
07  Search
08  Cards
09  Mobile

*/


// ------- 00 Reset ------- 

html, body, h1, h2, h3, h4, h5, p, div, ul, li, span {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

html {
	font-size:16px;
	background-color:#FBFBFB;
}

body {
	position:relative;
	z-index:0;
}

div {
	box-sizing: border-box;
}

@mixin hover {
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

div.clear {
	clear:both;
}


// ------- 01 Colors -------

$black:#313131;
$darkgrey:#5B5B5B;
$grey:#ACACAC;
$border:#DCDCDC;
$lightgrey:#F2F2F2;
$white:#FBFBFB;
$truewhite:#FFFFFF;
$accent:#0252CA;


// ------- 02 Typography -------

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap');
$header-font:'Lora', 'Garamond', 'serif';
$body-font:'Source Sans Pro', 'Garamond', 'sans-serif';

h1 {
	font-family:$header-font;
	font-weight:400;
	font-size:3rem; //48px
	color:$black;
}

h2 {
	font-family:$header-font;
	font-weight:400;
	font-size:2rem; //32px
	color:$black; 
}

h3 {
	font-family:$header-font;
	font-weight:400;
	font-size:1.5rem; //24px
	color:$black; 
}

p {
	font-family:$body-font;
	font-weight:400;
	font-size:1rem; //16px
	color:$black;
}

p.s {
	font-family:$body-font;
	font-weight:400;
	font-size:0.875rem; //14px
	color:$black;
}

p.xs {
	font-family:$body-font;
	font-weight:400;
	font-size:0.75rem; //12px
	color:$black;
}

.date {
	font-family:$body-font;
	font-weight:400;
	font-size:0.75rem; //12px
	color:$darkgrey;
	text-transform:uppercase;
}

a {
	@extend p;
	text-decoration:none;
}

::selection {
  background: $accent;
  color: $white;
}

input[type='checkbox'] + label {
	@extend p;
}


// ------- 03 Spacing -------

$padding-xs:24px;
$padding-s:32px;
$padding-r:40px;
$padding-n:48px;
$padding-l:64px;
$padding-xl:80px;


// ------- 04 Icons -------

$icon-s:24px;
$icon-r:32px;
$icon-l:48px;

@mixin icon($url) {
	content:url($url);
	top:0;
}


// ------- 05 Components -------

input[type="checkbox"] {
	background-color: blue;
	height:1rem;
	width:1rem;
	margin:0;
	cursor:pointer;
}

input[type="checkbox"] + label {
	line-height:0;
	padding-left:0.5rem;
	cursor:pointer;
}

button {
	@extend p;
	background-color:$accent;
	border:none;
	border-radius:6px;
	color:$white;
	padding:0.5rem 1rem;
	display:inline-block;
}


// ------- 06 Nav -------

$nav-height:77px;


// ------- 07 Search -------

section {
	position:relative;
	top:$nav-height;
}

$search-icon-size:48px;

div.black {
	height:100vh;
	width:100vw;
	background-color:$black;
	position:fixed;
	z-index:3;
	opacity:77%;
	display:none;
}

// ------- 08 Cards -------

$card-margin:25px;


// ------- 09 Mobile -------

@media only screen and (max-width:1000px) { // iPad
	h1 { font-size:2rem; }
	h2 { font-size:1.5rem; }
}












