// ------- reusable mixins -------

@mixin nav-links {  // @include on container
	a {
		line-height:0;
		margin-left:48px;
		padding:calc(#{$nav-height} * 0.37) 0;
		border-bottom:2px solid rgba(0, 0, 0, 0);
		position:relative;
		@include hover;
	}

	a:nth-child(1) {
		margin-left:0;
	}

	a.current {
		color:$accent;
		border-bottom:2px solid $accent;
	}

	a.filter {
		padding-left:$padding-xs;
		padding-right:$padding-xs;
	}

	a.filter.active {
		border-bottom:2px solid $accent;
	}

	a.filter::before {
		@include icon('assets/icon-filter.svg');
		left:-5px;
		@include vertical-center;
	}

	a.filter::after {
		@include icon('assets/icon-arrow-down.svg');
		@include vertical-center;
		right:-5px;
	}

	a.filter.active::after {
		@include icon('assets/icon-arrow-up.svg');
		@include vertical-center;
		right:-5px;
	}

	a:hover {
		border-bottom:2px solid $accent;
	}
}


// ------- desktop nav -------

nav {
	height:$nav-height;
	background-color:$white;
	position:fixed;
	width:100vw;
	border-bottom:1px solid $border;
	z-index:3;

	div.logo {
		height:40px;
		width:200px;
		@include vertical-center;
		left:$padding-xs;
	}
	div.logo::before {
		@include icon('assets/covenantlove.svg');
	}

	div.container {
		@include vertical-center;
		@include nav-links;
		right:$padding-xs;
	}

	div.container.mobile {
		display:none;
	}

	div.mobile-nav {
		@include icon('assets/icon-nav.svg');
		display:none;
		height:14px;
		width:20px;
		@include vertical-center;
		right:$padding-xs;
		@include hover;
	}
}


// ------- mobile nav -------

div.mobile-filter-screen {
	display:none;
}

@media only screen and (max-width:1200px) { // smaller browser
	nav div.mobile-nav {
		display:inline-block;
		position:absolute;
		z-index:11;
	}

	nav div.container {
		display:none;
	}

	div#mobile-filter-screen {
		background-color:$cloud;
		border-radius:16px 16px 0 0;
		height:73%;
		width:100%;
		position:fixed;
		z-index:3;
		bottom:-100%;
		padding:$padding-l;
		display:flex;
		flex-flow: column nowrap;
		gap:1.75rem;

		div.close {
			@include icon('assets/icon-xs.svg');
			height:1rem;
			width:1rem;
			position:absolute;
			top:2.5rem;
			right:2.5rem;
		}


		div.container {
			@include nav-links;
			display:flex;

			a {
				margin:0;
			}
		}

		div.top {
			margin:0 auto;
			flex-flow: row nowrap;
			align-items:center;
			gap:2.5rem;
		}

		div.middle {
			flex-flow: column nowrap;

		}
	}

	div.overlay { z-index:2; }
	nav { z-index:1; }
}

