// ------- reusable mixins -------

@mixin nav-links {  // @include on container
	a {
		line-height:0;
		margin-left:48px;
		padding:calc(#{$nav-height} * 0.37) 0;
		border-bottom:2px solid rgba(0, 0, 0, 0);
		position:relative;
		@include hover;
	}

	a:nth-child(1) {
		margin-left:0;
	}

	a.current {
		color:$accent;
		border-bottom:2px solid $accent;
	}

	a.filter {
		padding-left:$padding-xs;
		padding-right:$padding-xs;
	}

	a.filter.active {
		border-bottom:2px solid $accent;
	}

	a.filter::before {
		@include icon('assets/icon-filter.svg');
		left:-5px;
		@include vertical-center;
	}

	a.filter::after {
		@include icon('assets/icon-arrow-down.svg');
		@include vertical-center;
		right:-5px;
	}

	a.filter.active::after {
		@include icon('assets/icon-arrow-up.svg');
		@include vertical-center;
		right:-5px;
	}
}


// ------- desktop nav -------

nav {
	height:$nav-height;
	background-color:$white;
	position:fixed;
	width:100vw;
	border-bottom:1px solid $border;
	z-index:3;

	div.logo {
		height:40px;
		width:200px;
		@include vertical-center;
		left:$padding-xs;
	}
	div.logo::before {
		@include icon('assets/covenantlove.svg');
	}

	div.container {
		@include vertical-center;
		@include nav-links;
		right:$padding-xs;

		a:hover {
			border-bottom:2px solid $accent;
		}
	}

	div.container.mobile {
		display:none;
	}

	div.mobile-nav {
		@include icon('assets/icon-nav.svg');
		display:none;
		height:14px;
		width:20px;
		@include vertical-center;
		right:$padding-xs;
		@include hover;
	}
}


// ------- mobile nav -------

div#mobile-filter-screen {
	background-color:$white;
	border-radius:16px 16px 0 0;
	height:90%;
	width:100%;
	position:fixed;
	z-index:3;
	bottom:-100%;
	display:block;

	div.close {
		@include icon('assets/icon-xs.svg');
		height:1rem;
		width:1rem;
		color:$darkgrey;
	}


	div.container {
		@include nav-links;
		display:flex;

		a {
			margin:0;
		}

		a.filter.active {
			border-bottom:none;
			color:$accent;
		}
	}

	div.top {
		margin:0 auto;
		position:absolute;
		top:0;
		background-color:$cloud;
		width:100%;
		padding:1.2rem 1.2rem 1.2rem 3.3rem;
		border-radius:16px 16px 0 0;
		@extend h3;
		color:$lightblack;

		div.close {
			@include vertical-center;
			left:1.2rem;
		}
	}

	div.middle {
		display:flex;
		flex-flow: column nowrap;
		margin-top:3.7rem;
		padding:8px 21px 8px 24px;
		flex:3 0 auto;
		height:calc(100% - 127px);

		a.link {
			display:inline-block;
			text-align:center;
			margin:0 auto 1rem 0;
		}
	}

	div.accordion {
		overflow:scroll;
		max-height:300px;
		padding:1rem 0;
		margin-bottom:1rem;
		border-bottom:1px solid $border;
		display:flex;
		flex-flow: column nowrap;
		gap:1rem;
		display:none;
	}

	div.bottom {
		background-color:$cloud;
		padding:1rem 0;
		position:absolute;
		bottom:0;
		width:100%;

		button { 
			position:relative;
			margin:0 21px 0 auto;
		}
	}
}

div.mobile-filter-screen {
	display:none;
}

@media only screen and (max-width:1200px) { // smaller browser
	nav div.mobile-nav {
		display:inline-block;
		position:absolute;
		z-index:11;
	}

	nav div.container {
		display:none;
	}

	div.overlay { z-index:2; }
	nav { z-index:1; }
}

